[Desktop Entry]
Name=CurrencyConverter
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/CurrencyConverter/CurrencyConverter.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
